# Jupyter Demo

This is a note in Markdown

In [1]:
2+2

4

In [2]:
print("hello")
2+2
3+3

hello

6

# hello world!

In [ ]:
# this is a comment line
print('hello world') # single quotes

In [ ]:
print("hello world") # double quotes

# Variables

In [ ]:
x = 3

In [ ]:
type(x) # type function

# Data Types

``` python 

## integer
5

## float 
5.0 

## string 
"this is a string"

## list 
[6,7,8,'abc', {'key':'value'}]

## dictionary 
{'key':'value', 5:'val'}
```

# Operators and Methods

Use

``` python
dir()
```

to look up availible operators and methods for a specific type

In [ ]:
x + 3

In [ ]:
x.__add__(3) # "dunder add dunder" (or just "add") method
            # Pythons's instructions for executing +

# Challenge: 

### Use a built in function to capitalize `austin`

``` python

dir("austin")
```

Try running the above line to get the availible operators

# Lists

In [ ]:
my_list = [1,2,3,4,5,6,7,8,9,10]
my_list

In [ ]:
### list indexing

In [ ]:
### append

# Challenge: 

### What's the built in function to remove an item form a list? Go ahead and remove `7` from the list.

In [ ]:
## Your code

# Dictionaries

Dictionaries store key value pairs - each key is unique and cannot be repeated

In [6]:
ages = {"Adam": 32, "Ashley": 24, "Jon": 54}

# if

In [ ]:
A = 10
B = 100

# for Loops

# Functions

![](https://snag.gy/h9Xwf1.jpg)

In [30]:
## Import pandas
import pandas as pd

## Check your version of Pandas 
print(pd.__version__)

# Make plots show automatically 
%matplotlib inline

0.23.4

<a id='introduction'></a>

### What is `pandas`?

---

- Data analysis library - **P**anel **D**ata **S**ystem.
- Created by Wes McKinney and Open Sourced by AQR Capital Management, LLC 2009.
- Implemented in highly optimized Python/Cython.
- Most ubiquitous tool used to start data analysis projects within the Python scientific ecosystem.

In [31]:
## Load the csv file into a dataframe object 

iris = pd.read_csv('https://raw.githubusercontent.com/venky14/iris-dataset/master/iris-species/Iris.csv')

### Exploring data using DataFrames

---

DataFrames come with built-in functionality that makes data exploration easy. 

Let's start by looking at the "header" of your data with the ```.head()``` built-in function. If run alone in a notebook cell, it will show you the first and last handful of columns and the first 5 rows.

In [32]:
## view the head (first 5 rows) of the data
iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

### Data dimensions

---

It's good to look at what the dimensions of your data are. The ```.shape``` property will tell you the rows and colum counts of your DataFrame.

In [33]:
## code

### Practice

Try yourself to use the functions below to answer the four questions 

``` python

.info()
.dtypes
.mean()
.describe()
```

#### Exercise:

- How much memory does the dataframe use?
- How many different data types are we working with?
- What is the average sepal length? 
- What is the maximum petal length?

In [34]:
## your code here

In [35]:
## your code here

In [36]:
## your code here

In [37]:
## your code here

### Groupby and Boolean filtering

How would we get the mean petal length for a specific species of Iris? 

``` python

iris.groupby('Species')['PetalLengthCm'].mean()

iris[iris['Species'] == 'Iris-setosa']['PetalLengthCm'].mean()


```